@import "colors.scss";
@import "page2-anim.scss";

html {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    height: 98%;
}

nav {
    justify-content: center;
    align-content: center;
}

header {
    height: 1%;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 1%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    width: 200px;
    height: 30px;
    background-color: gray;
    border-radius: 10px;
    align-content: center;
    text-align: center;
}

.button a {
    color: white;
    text-decoration: none;
}

.button a:visited {
    color: white;
    text-decoration: none;
}

#button-p1 {
    background-color: $color1;
}

#button-p1:hover {
    background-color: $color1_2;
    transform: scale(1.05);
}

#button-p2 {
    background-color: $color2;
}

#button-p2:hover {
    background-color: $color2_2;
    transform: scale(1.05);
}



.block-1 {
    justify-content: center;
    text-align: center;
    align-content: center;
    animation-name: block-1;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

.block-2 {
    width: 20vh;
    height: 20vh;
    margin: 5px;
    background-color: gray;
    justify-content: center;
    text-align: center;
    align-content: center;
    animation-name: block-2;
    animation-iteration-count: 4;
    animation-duration: 8s;
}

@keyframes block-1 {
    from {
        background-color: red;
        width: 20vh;
        height: 20vh;
        margin: 5px;
    }

    25% {
        background-color: rgb(255, 77, 77);
        width: 20vh;
        height: 20vh;
        margin: 5px;
        border-radius: 10px;
    }

    50% {
        background-color: rgb(128, 128, 77);
        width: 20vh;
        height: 20vh;
        margin: 5px;
        border-radius: 15px;
    }

    75% {
        background-color: rgb(77, 256, 77);
        width: 20vh;
        height: 20vh;
        margin: 5px;
        border-radius: 25px;
    }

    to {
        background-color: green;
        width: 20vh;
        height: 20vh;
        margin: 5px;
        border-radius: 50px;
    }
}

@keyframes block-2 {
    0% {
        background-color: gray;
    }

    50% {
        transform: scale(1.1) translate(200px, 0);
        opacity: 0.5;
        background-color: gray;
        color: gray;
        
    }

    100% {
        background-color: gray;
        transform: translate(0, 0);
    }
}